Jama_Masjid_Agra.jpg filter=lfs diff=lfs merge=lfs -text
مسجد_السهلة.jpg filter=lfs diff=lfs merge=lfs -text
28325957427_f94bfee3d2_o-1.jpg filter=lfs diff=lfs merge=lfs -text
31536000.jpg filter=lfs diff=lfs merge=lfs -text
3ca0d686-72cc-4da0-8ff0-407dcbcc6b96-isfahan3.jpg filter=lfs diff=lfs merge=lfs -text
Arabischer_Maler_um_690_002.jpg filter=lfs diff=lfs merge=lfs -text
default.jpg filter=lfs diff=lfs merge=lfs -text
DomeoftheRockUp-scaled.jpg filter=lfs diff=lfs merge=lfs -text
1.png filter=lfs diff=lfs merge=lfs -text
Dome-of-the-Rock-Jerusalem.webp filter=lfs diff=lfs merge=lfs -text
DRExterior_1024x1024@2x.webp filter=lfs diff=lfs merge=lfs -text
